body{
background: lightblue;
}


.contenedor{
  width: 100%;
  max-width: 1440px;
  margin : 10px 0 0;
  text-align: center;

}
header{
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #fff;
}


main{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
nav{
  width: 20%;
  padding: 20px;
  border: 2px solid;
  height: 500px;
  border: 1px solid #fff;
}

section{
  width: 80%;
  border: 1px solid #fff;
}
